<section class="bg-primary2" id="DS">
    <div class="container">
        <div class="row">

          <div class="text-center" style="width: 100%; overflow: hidden;">
            <h2 class="section-heading">Young, wild & free <br>#SocialLife </h2>
              <hr class="light">
              <div  style="width: 450px; float: right; text-align:justify;">
                <p class="text-faded">
                  <br>
                  SOCIAL_LIF/DAILY: percentage of daily news per year for all news per country
                  <br>
                  AGE STRUCTURE15-24: percentage of country population of age between 15 to 24
                  <br>
                  CORRELATION: 0.47
                  <br>
                  P-value: 0.0504*

                  <br><br>
                  Social Life / Daily media coverage percentage is
                  higher in the countries having high young people percentage.

                </p>

               </div>
               <div  style="margin-right: 500px;">
                     <iframe  width="700px" height="450px" frameborder="0" scrolling="no" src="plots/Age_structure15-24-vs-SOCIAL_LIFE-DAILY.html"></iframe>
              </div>
        </div>

        </div>
    </div>
</section>
