<section class="bg-primary" id="Method">
    <div class="container">
        <div class="row">
            <div class="text-center" style="width: 100%; overflow: hidden;">
                <h2 class="section-heading">Methodology</h2>
                <hr class="light">
                <div  style="width: 450px; float: left; text-align:left">
                    <p class="text-faded"> <br>
                      This project is performed through several steps.
                    </p>
                      <ol style="font-size:16px">
                          <li> Data Exploration </li>
                          <li> Data Source Analysis </li>
                          <li> Topic Modelling </li>
                          <li> Topic Assignment</li>
                          <li> Correlation and Reasoning </li>
                          <li> Data Story and Website</li>
                      </ol>

                      <h3> Data Exploration </h3>
                      <p class=text-faded>
                      We chose News On the Web data among others offered in the ADA cluster.
                      Since we believe data science for social good, we looked for alternative
                      data source to produce more meaningful and insigthful results so added Factbook.
                      </p>

                      <h3> Data Source Analysis </h3>
                      <p class="text-faded">
                      First step was to discover what we had and the best way to make use of it.
                      We examined sufficiency of data and biases exsist in this step.
                      </p>

                      <h3> Topic Modelling </h3>
                      <p class="text-faded">
                      Data has Word-Lem-Pos format which is crucial for topic modelling.
                      Since data is too big to process in personal computers, we used Spark
                      and build-in Spark libraries (LDA Model) on ADA cluster. We constructed
                      and evaluated multiple models with various parameters (number of topics, number of iteration, corpus pruning with multiple percentages, optimizers et),
                      run and got results then progressed further in local. To find out more about about topic modelling
                      please visit <a href="https://github.com/camligorkem/ADA_2018_Project" style="color: rgb(255,200,200)"> our repository</a>
                      </p>

                 </div>


                 <div  style="width: 450px; float: right; text-align:justify">


                    <h3> Topic Assignment </h3>
                    <p class="text-faded">
                      We run our best model for every country then accoring to words discovered by model
                      we assigned human-understandable news classes to each one of them. In case of hesistation,
                      we checked actual articles on the web then decided.
                    </p>
                    <h3> Correlation and Reasoning  </h3>
                    <p class="text-faded">
                      We used Facts that we can interpret with our topics, then merged both datasets.
                      Before start reasoning, however, we also try multiple categorization of Factbook data
                      to see if Simpson Paradox etc and to prevent extreme values of facts (eg population India)
                      biased our results. To see various categorization, please visit  <a href="https://github.com/camligorkem/ADA_2018_Project" style="color: rgb(255,200,200)"> our repository</a>
                    </p>

                    <h3> Data Story and Website </h3>
                    <p class="text-faded">
                      As a last step, we decided to prepared a data story. Last couple of days allocated for the project
                      was spent to create comprehensible and informative graphs/charts as well as a website.
                    </p>

                </div>
           </div>
        </div>
    </div>
</section>
