<section class="bg-primary2" id="DS">
    <div class="container">
        <div class="row">

          <div class="text-center" style="width: 100%; overflow: hidden;">
            <h2 class="section-heading">Young, wild & free <br>#SocialLife </h2>
              <hr class="light">
              <div  style="width: 450px; float: right; text-align:justify;">
                  <p class="text-faded">
                    <br>Start Bootstrap has everything you need to get your new website up and running in no time!
                     All of the templates and themes on Start Bootstrap are open source, free to download, and easy to use. No strings attached!
                     rt Bootstrap are open source, free to download, and easy to use. No strings attached!</p>
               </div>
               <div  style="margin-right: 500px;">
                     <iframe  width="700px" height="450px" frameborder="0" scrolling="no" src="plots/Age_structure15-24-vs-SOCIAL_LIFE-DAILY.html"></iframe>
              </div>
        </div>

        </div>
    </div>
</section>
