<section class="bg-primary2" id="NC">
    <div class="container">
        <div class="row">
          <div class="text-center" style="width: 100%; overflow: hidden;">
              <h2 class="section-heading">Now Corpus</h2>
              <hr class="light">
              <div  style="width: 500px; float: left; text-align:justify;">
                  <p class="text-faded"> <br>
                    The NOW Corpus (News on the Web) is composed of 6,979,691,862 billion words of data,
                    and it is now growing by 160-170 million words per month, or about 1.6 billion words per year).
                    <br> <br>
                    In order to create the corpus, scripts run every hour to get URLs for new magazine and newspaper articles
                    from Google News, for about 9,000-10,000 new texts each day. Downloaded texts are cleaned by JusText
                    (to remove boilerplate material); tagged and lemmatized; and then integrated into existing relational database.
                    <br> <br>
                    The dataset we have in the cluster is for 6 years from 2010-2016(until October) of 20 different English speaking countries.
                    It has lexicon, source, text and wlp (word, lemma, PoS tag) data. The data is in txt format and size of 5.9 million words.
                    (~200GB) It is processed via following modifications:
                      <ul>
                          <li>News are groupped by country and time(a period of year)</li>
                          <li>Title and url information of the news groupped as source information data</li>
                          <li>For analysis(extract frequency of the words in the text) wlp data is used </li>
                      </ul>
                  </p>

                  <p  class="text-faded">
                    <b>Why last year?</b> <br>
                    We integrated Now Corpus with another dataset, Factbook. It has facts groupped per year however the data is
                    not coherrent and consistent, eg population record exist for 2016 for some countires while ...,2015,2016 for others.
                    Since we intented to compare countries with each other in terms of news topics, we chose where we had the most consistent
                    records on the Factbook, which is 2016.
                  </p>


               </div>
               <div  style="margin-left: 510px;">
                    <!-- <iframe width="300" height="400" src="img/m2.html"></iframe>
                     <!--<iframe width="1000" height="600" frameborder="0" scrolling="no" src="//plot.ly/~camligorkem/16.embed"></iframe> -->
                     NOW CORPUS SHAPE OF EARTH
                     <!-- <iframe  width="800" height="400" frameborder="0" scrolling="no" src="//plot.ly/~camligorkem/16.embed"></iframe> -->

              </div>
         </div>
    </div>
</section>
