<section class="bg-primary2" id="DS">
    <div class="container">
        <div class="row">
          <div class="text-center" style="width: 100%; overflow: hidden;">
            <h2 class="section-heading">Take care of the elderly...</h2>
              <hr class="light">
              <div  style="width: 450px; float: right; text-align:justify;">
                <p>
                  <br>
                  HEALTH/MEDICAL: percentage of health/medical related news per year
                  for all news per country
                  <br>
                  POPULATION GROWTH RATE: percentage unemployment rate in the country
                  <br>
                  CORRELATION: -0.63
                  <br>
                  P-value: 0.028***
                  <br><br>
                  Countries who has less population growth rate tends
                  to have more media coverage in Health/Medical. If lowness of population
                  growth rate is due to high old age population then news might treat health
                  related topics of old people.

                </p>
               </div>
               <div  style="margin-right: 500px;">
                     <iframe  width="700px" height="450px" frameborder="0" scrolling="no" src="plots/Population_growth_rate-vs-HEALTH-MEDICAL.html"></iframe>
              </div>
        </div>


        </div>
    </div>
</section>
