<section class="bg-primary" id="DS">
    <div class="container">
        <div class="row">
            <div class="text-center">
                <h2 class="section-heading">Correlation Means Correlation</h2>
                <hr class="light">
                <div style="float: left, width: 100%; text-align=justify">
                  <p>
                    It's time to merge two datasets and see if there can be found mind blowing,reasonable results.
                    We conducted pairwise Spearman Correlation  Testfor each features of Factbook data and
                    each topic found from News data. Spearman is chosen over Pearson because of
                    it is superiority to detect monotonic increase or decrease in our data.
                    Results are shown on the below.
                  </p>

                  <p>
                    Significant and marginally significant correlations are drawn according to p-values of
                    test (&lt;0.05 &tilda;0.5).
                    We also chose those have z-scores more/less than plus/minus 0.25 as
                    of interest regardless of their significance.
                  </p>

                </div>


            </div>
        </div>
    </div>
</section>
