<section class="bg-primary" id="DS">
    <div class="container">
        <div class="row">

          <div class="text-center" style="width: 100%; overflow: hidden;">

              <div  style="width:500px; float: right; text-align=justify">
                Yazısını da buraya yazalım Yazısını da buraya yazalım Yazısını da buraya
                 yazalımYazısını da buraya yazalım Yazısını da buraya yazalım Yazısını da buraya yazalım
                 Yazısını da buraya yazalım Yazısını da buraya yazalım Yazısını da buraya yazalım Yazısını da buraya yazalım

             </div>


            </div>
        </div>
    </div>
</section>
