<section class="bg-primary" id="DS">
    <div class="container">
        <div class="row">
          <div class="text-center" style="width: 100%; overflow: hidden;">
              <h2 class="section-heading">Are we playing or are we watching?</h2>
              <hr class="light">
              <div  style="width: 450px; float: left; text-align:justify;">
                <p class="text-faded">
                  <br>
                  SPORTS: percentage of sports news per year for all news per country
                  <br>
                  INTERNET USERS: percentage of country population who has internet access
                  <br>
                  CORRELATION: 0.57
                  <br>
                  P-value: 0.021***

                  <br><br>
                  Countries having high internet user percetange, have also higher media
                  coverage percentage in sports.

                </p>

               </div>

               <div  style="margin-left: 500px;">
                     <iframe  width="700px" height="450px" frameborder="0" scrolling="no" src="plots/Internet_users-vs-SPORTS.html"></iframe>
              </div>
        </div>
        </div>
    </div>
</section>
