<section class="bg-primary2" id="DS">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Countries By News</h2>
                <hr class="light">
                <p class="text-faded">Here is a peculiar story of what people talk with respect to who they are.
                  We would like to present you some interesting facts about 20 Enlish speaking countires in the world,
                  namely United States, Ireland, Australia, Canada, India, New Zealand, Sri Lanka, Singapore,Philippines,
                  Ghana, Nigeria, Kenya, Hong Kong, Jamaica, Pakistan, Bangladesh, Malaysia and Tanzania; and connection of those
                  with their trending topics appered in their online newspapers, blogs and magazines.
                </p>

                <p class="text-faded">
                  News data is collected from <a href="https://corpus.byu.edu/now/" style="color: rgb(0,0,0)"> Now Corpus </a> for
                  one year period (November 2015 to October 2016). Facts of countires are extracted from
                  <a href="https://www.cia.gov/library/publications/the-world-factbook/" style="color: rgb(0,0,0)"> The World Factbook </a>
                  of CIA covering the same period. For more information about data processing and methodology please visit...
                </p>

                <a href="#" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
