<section class="bg-primary" id="DS">
    <div class="container">
        <div class="row">
            <div class="text-center" style="width: 100%; overflow: hidden;">
                <h2 class="section-heading">Does migration lead to more political discussion?</h2>
                <hr class="light">
                <div  style="width: 450px; float: left; text-align:justify;">
                    <p class="text-faded">
                      <br>
                      POLITICS: percentage of political news per year for all news per country
                      <br>
                      NET MIGRATION RATE: percentage difference in between the number of immigrants
                      and the number of emigrants per year per population.
                      <br>
                      CORRELATION: 0.503
                      <br>
                      P-value: 0.067*

                      <br><br>
                      Countries who have more migration rate have more media coverage on politics.
                      Issues related to immagrants might account for some subtitles of political
                      news or arguments for those receiving countries.

                    </p>
                 </div>
                 <div  style="margin-left: 500px;">
                       <iframe  width="700px" height="450px" frameborder="0" scrolling="no" src="plots/Net_migration_rate-vs-POLITICS.html"></iframe>
                </div>
          </div>
        </div>
    </div>
</section>
