<section class="bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Countries By News</h2>
                <hr class="light">
                <p class="text-faded" style="text-align:justify">
                  Here is a peculiar story of what people talk with respect to who they are.
                  We would like to present you some interesting facts about 20 English speaking countires in the world,
                  namely United States, Ireland, Australia, Canada, India, New Zealand, Sri Lanka, Singapore, Philippines,
                  Ghana, Nigeria, Kenya, Hong Kong, Jamaica, Pakistan, Bangladesh, Malaysia and Tanzania; and connection of those
                  with their trending topics appered in their online newspapers, blogs and magazines.
                </p>

              <p class="text-faded" style="text-align:justify">
                In the newspaper and magazine articles we cover more than events,
                we share what we are doing, what we are interested in and what matters
                to us as a society. Our aim in this project is to see how the news content
                changes for countries over time and is there a connection between country
                profiles and the news published. Our motivation behind this project is to understand,
                the underlying profile of the published news content: the topics of the news,
                most commonly used words and whether these information change between countries or course of time.
                We aim to see if country specific information and published news are somehow correlated or a
                good newspaper/article is now a world talking to itself?
              </p>

              <p class="text-faded" style="text-align:justify">
                We processed and analysed following data sets.
                News data is taken from <a href="https://corpus.byu.edu/now/" style="color: rgb(255,200,200)"> NOW Corpus </a> for
                one year period (November 2015 to October 2016). For more information please visit
                <a href="#NC" style="color: rgb(255,200,200)">News</a> section.
                Facts of countires are extracted from
                <a href="https://www.cia.gov/library/publications/the-world-factbook/" style="color: rgb(255,200,200)">
                The World Factbook </a> of CIA covering the same time period. For more information please visit
                <a href="#FB" style="color: rgb(255,200,200)">Countries</a> section.
                To see statistical and mathematical methods we used on data processing, topic modelling and
                correlations please visit <a href="#Method" style="color: rgb(255,200,200)">Methods</a> section.
              </p>
                  <!-- <a href="#DS" class="btn btn-default btn-xl">Go to Data Story!</a> --> 
            </div>
        </div>
    </div>
</section>
