<section class="bg-primary" id="DS">
    <div class="container">
        <div class="row">
              <div class="text-center" style="margin-left:200px; width: 800px;text-align:justify;">
                  <p class="text-faded" style="text-align:justify;">
                    <br>
                    Another point to keep in mind when analysing this work is that number of topics is not same for all countries
                    present. Some have 7 topic class (Bangladesh) whereas some have 11 (US), in between 7 to 13. This is not because
                    different topic modelling is used per country but rather, topics found by LDA model are assigned multiple classes.
                    In generel, 7 classes is used for LDA model whereas 13 topic classes created by us accoring to words found by LDA
                    per class. We examined top 10 words belonging to a topic found by LDA and then named this topic as POLITICS or
                    INTERNATIONAL or both with some percentage.
                    In this way we achived followings:
                    <ol >
                       <li>Alley the imbalance in the number unique source and articles per country</li>
                       <li>Seperate and identified topics better  </li>
                       <li>Make topic generalization and comparison easier </li>
                     </ol>

                  </p>
               </div>


        </div>
    </div>
</section>
