<section class="bg-primary" id="DS">
    <div class="container">
        <div class="row">


          <div class="text-center" style="width: 100%; overflow: hidden;">
            <h2 class="section-heading"> Is legal being swept under the carpet?</h2>
              <hr class="light">
              <div  style="width: 450px; float: left; text-align:justify;">
                  <p>
                    <br>
                    LEGAL/LAW: percentage of legal/law related news per year for all
                    news per country
                    <br>
                    UNEMPLOYMENT RATE: percentage unemployment rate in the country
                    <br>
                    CORRELATION: -0.553
                    <br>
                    P-value: 0.049***
                    <br><br>
                    In the countries in which unemployment rate is high tends
                    to have less media coverage in Legal/Law.

                  </p>
               </div>
               <div  style="margin-left: 500px;">
                     <iframe  width="700px" height="450px" frameborder="0" scrolling="no" src="plots/Unemployment_rate-vs-LEGAL-LAW.html"></iframe>
              </div>
          </div>

        </div>
    </div>
</section>
