<section class="bg-primary" id="DS">
    <div class="container">
        <div class="row">

          <div class="text-center" style="width: 100%; overflow: hidden;">
            <h2 class="section-heading">When too many people...</h2>
              <hr class="light">
              <div  style="width: 450px; float: left; text-align:justify;">
                <p class="text-faded">
                    <br>
                    ENTERTAINMENT/ART/MAGAZINE: percentage of magazine/art news per year for all news per country
                    <br>
                    POPULATION: country population
                    <br>
                    CORRELATION: -0.57
                    <br>
                    P-value: 0.034***

                    <br><br>
                    When population is high in a country, the country talks less about
                    entertainment/art and magazine topics. It might be getting hard to find subjects
                    that can interest everbody or there is a huge population bias of India.
                  </p>
               </div>

               <div  style="margin-left: 500px;">
                     <iframe  width="700px" height="450px" frameborder="0" scrolling="no" src="plots/Population-vs-ENTERTAINMENT-ART-MAGAZINE.html"></iframe>
              </div>
        </div>
        </div>
    </div>
</section>
