<section class="bg-primary2" id="Method">
    <div class="container">
        <div class="row">
            <div class="text-center">
                <h2 class="section-heading">Conclusion</h2>
                <hr class="light">
                <div  style="margin-left: 250px; float: center; width: 700px;text-align:justify">
                    <p class="text-faded"> <br>
                      Overall, from the analysis of these two datasets we can say that there are some meaningful correlation between the
                      Country Profiles and the News content published. For example, we can see that Countries
                      having higher net migration rates tends to publish more on Politics, Countries having younger
                      people profile have a leaning towards to publish more on Social Life and Daily news etc.
                      Therefore, we can conclude that from the data we have, News may have a lean toward and reflect
                      some truth behind the saying "A good newspaper is a nation talking to itself" since there are
                      some significant trends between topics published and country profiles.
                      </p>
                      <p>
                      On the other hand, these
                      correlations found are based on limited data and may not be exactly reflecting countries
                      behaviors. Also, some other limitations might be human interpretations on the topic name
                      assignment and the number of countries is only 20 therefore, not sufficient to do a general claim
                      such as News are become more Globalized with the changing Technology.
                    </p>

                 </div>
           </div>
        </div>
    </div>
</section>
