<section class="bg-primary" id="NC">
    <div class="container">
        <div class="row">
          <div style="width: 100%; overflow: hidden;">
              <h2 class="section-heading" style="margin-left: 550px;">Why last year?</h2>
              <hr class="light">
              <div  style="width: 500px; float: left; text-align:justify;">
                <p  class="text-faded">
                  We integrated Now Corpus with another dataset, Factbook. It has facts groupped per year however the data is
                  not coherrent and consistent, eg population record exist for 2016 for some countires while ...,2015,2016 for others.
                  Since we intented to compare countries with each other in terms of news topics, we chose where we had the most consistent
                  records on the Factbook, which is 2016.
                </p>
               </div>
         </div>
    </div>
</section>
