<section class="bg-primary" id="DS">
    <div class="container">
        <div class="row">
            <div class="text-center">
                <h2 class="section-heading">Correlation Means Correlation</h2>
                <hr class="light">
                <div style="float: left, width: 100%; text-align=justify">
                  <p>
                    <br>
                    dçsnglösngkjbbbbbbbbbbbbbbbbbbbbbbbbbbj
                    kkkkkkkkkkkkkkkkkkkkkkkkk  dçsnglösngkjbbbbbb
                    sdöjgbsfmnb djsngkjvndf  jfnkgn
                  </p>

                </div>

              
            </div>
        </div>
    </div>
</section>
