<section class="bg-primary2" id="DS">
    <div class="container">
        <div class="row">
          <div class="text-center" style="width: 100%; overflow: hidden;">
              <h2 class="section-heading">Let's See Bets!</h2>
              <hr class="light">
              <div  style="width: 400px; float: left; text-align:justify;">
                  <p class="text-faded">
                    <br> <br>
                    Our model gave pretty accuracte and interesting
                    results. For example, the first mostly appeared topic is POLITICS in US,
                    very reasonable since there was an election back in that time(2016), in UK and
                    Ireland SPORT news dominated the agenda where as COMPANY/BUSINESS news in Hong Kong.
                    Reasonablity was not the metric we used to evaluate models' performance
                    but perplexity scores of models.
                    <br> <br>
                    Bias aside, some suprizing results were also found like Pakisan's case. The second biggest slice of
                    Pakistan's news belongs to international, well to be more specific coupe attack in Turkei. Feel free
                    to play with the chart to reconfigure the country profiles in your minds. What people talk is not always
                    what we expect them to talk.

                  </p>
               </div>
               <div  style="margin-left: 430px;">
                     <iframe  width="800px" height="500px" frameborder="0" scrolling="no" src="plots/topic_distribution.html"></iframe>
              </div>
        </div>
    </div>
</section>
