<section class="bg-primary" id="FB">
    <div class="container">
        <div class="row">

          <div class="text-center" style="width: 100%; overflow: hidden;">
            <h2 class="section-heading"> Factbook Facts</h2>
              <hr class="light">
              <div  style="width: 400px; float:left ;text-align:left;">
                <br>
                <ol style="font-size:16px">
                    <li>People and Society:</li>
                      <ul>Population </ul>
                      <ul>Age structure </ul>
                      <ul>Median age </ul>
                      <ul>Population growth rate </ul>
                      <ul>Birth rate </ul>
                      <ul>Death rate </ul>
                      <ul>Sex ratio </ul>
                      <ul>Net migration rate </ul>
                      <ul>Life expectancy at birth </ul>
                    <li>Economy:</li>
                      <ul>GDP - per capita (PPP) </ul>
                      <ul>Unemployment rate </ul>
                      <ul>Inflation rate (consumer prices) </ul>
                    <li>Energy:</li>
                      <ul>Electricity - from other renewable source </ul>
                      <ul>Carbon dioxide emissions from consumption of energy </ul>
                    <li>Communications:</li>
                        <ul>Internet users </ul>
                  </ol>
               </div>
               <div  style="float:right;">
                     <iframe  width="600px" height="600px" frameborder="0" scrolling="no" src="plots/fact_plots.html"></iframe>
              </div>
          </div>

        </div>
    </div>
</section>
