<section class="bg-primary2" id="FB">
    <div class="container">
        <div class="row">
          <div class="text-center" style="width: 100%; overflow: hidden;">
              <h2 class="section-heading">FactBook</h2>
              <hr class="light">
              <div  style="width: 550px; float: right; text-align:justify;">
                  <p class="text-faded"> <br>
                    The World Factbook provides information on the geography, history, people,
                    government, economy, communications, transportation, military, and transnational
                    issues for 267 world entities. Among them, we selected 20 countries whose internet media
                    coverage data exists in the Now Corpus data. For each country, Factbook provides us more than
                    100 facts under the different main topics. after examining through these facts, we decided to select
                    those we can correlate with news topics.
                  </p>

               </div>
               <div  style="margin-right: 600px;">
                 <br>
                <!-- <iframe  width="800" height="400" frameborder="0" scrolling="no" src="//plot.ly/~camligorkem/16.embed"></iframe> -->
                <img src="./images/wordcloud.png" alt="WordsWorld" style="width:500px;height:350px;">
              </div>
         </div>
        </div>
    </div>
</section>
