<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Country Overviews Through News</h1>
            <hr>
            <p> <b>“A good newspaper is a nation talking to itself.” <br>  &emsp; Arthur Miller <br> </b>

              With the face paced technology the world becomes more and more connected. <br> Let's find out if newspapers are still a <it> nation </it> talking to
              itself or a <it> world </it> talking to itself?</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
