<section id="teamo">
    <div class="container">
        <div class="row">
            <div class=" text-center">
                <h2 class="section-heading">Team AdaGirls</h2>
                <hr class="primary">
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <!--<i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i> -->
                    <img src="images/world-map-of-cities-at-night.jpg" alt="dlab" width="130" height="180">
                    <h3>Gorkem Camli</h3>
                    <p class="text-muted"> MSc Data Science</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary"></i>
                    <h3>Nihal Ezgi Yuceturk</h3>
                    <p class="text-muted">MSc Computer Science </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary"></i>
                    <h3>Arzu Guneysu Ozgur</h3>
                    <p class="text-muted">PhD Robotics</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary"></i>
                    <!--<h3>Made with passion</h3> -->
                    <p class="text-muted"></p>
                </div>
            </div>
        </div>
    </div>
</section>
