<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body id="page-top">
  {% include nav.html %}
  {% include header.html %}
  <!--Data Story About-->
  {% include call-to-action.html %}
  {% include call-to-action1_1.html %}
  {% include call-to-action1_2.html %}
  {% include call-to-action1_3.html %}
  {% include call-to-action1_4_1.html %}
  {% include call-to-action1_4_2.html %}
  {% include call-to-action1_4_3.html %}
  {% include call-to-action1_4_4.html %}
  {% include call-to-action1_4_5.html %}
  {% include call-to-action1_4_6.html %}
  {% include call-to-action1_4_7.html %}
  {% include call-to-action1_4_8.html %}
  {% include call-to-action1_4_9.html %}
  <!--News-->
  {% include call-to-action2.html %}
  <!-- Factbook-->
  {% include call-to-action3.html %}


  <!-- Methodology-->
  {% include call-to-action4.html %}

  <!--Team-->
  {% include services.html %}



  {% include portfolio.html %}
  {% include aside.html %}
  {% include contact.html %}
  {% include scripts.html %}
</body>

</html>
